<form action="/admin/abonnement/add" method="POST" >
<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
    <div class="accordion-content accordion-desc">
      <div class="card-block">
          <div class="form-group">
             <label class="form-control-label" for="inputSuccess1">Date Abonnement</label>
             <input type="date" class="form-control form-control-success" name="dateAbonnement" id="dateAbonnement">
             <!-- <div class="form-control-feedback">Success! You've done it.</div>
             <small class="form-text text-muted">Example help text that remains unchanged.</small> -->
          </div>
          <div class="form-group">
             <label class="form-control-label" for="inputWarning1">Description Abonnement</label>
             <input type="text" class="form-control form-control-warning" name="description" id="description">
             <!-- <div class="form-control-feedback">Shucks, check the formatting of that and try again.</div>
             <small class="form-text text-muted">Example help text that remains unchanged.</small> -->
          </div>
          <div class="form-group">
             <label class="form-control-label" for="inputDanger1">Prix Abonnement</label>
             <input type="text" class="form-control form-control-danger" name="prixAbonnement" id="prix">
             <!-- <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
             <small class="form-text text-muted">Example help text that remains unchanged.</small> -->
          </div>
          <div class="form-group">
            <div class="card-block button-list">
                <!-- start with icon Button -->
                <button type="submit" class="btn btn-danger waves-effect waves-light " data-toggle="tooltip" data-placement="top" title=".icofont-home ">
                         <i class="icofont icofont-ui-add "></i><span class="m-l-10">AJOUTER NOUVEAU</span>
                </button>
             </div>
            </div>
          </div>
       </div>
    </div>
 </div>
</form>