<form action="/admin/boutique/add" method="POST" >
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="accordion-content accordion-desc">
          <div class="card-block">
              <div class="form-group">
                 <label class="form-control-label" for="inputSuccess1">Nom boutique</label>
                 <input type="text" class="form-control form-control-success" name="nomBoutique" id="nom">
                 <!-- <div class="form-control-feedback">Success! You've done it.</div>
                 <small class="form-text text-muted">Example help text that remains unchanged.</small> -->
              </div>
              <div class="form-group">
                 <label class="form-control-label" for="inputWarning1">Description</label>
                 <input type="text" class="form-control form-control-warning" name="description" id="desc">
                 <!-- <div class="form-control-feedback">Shucks, check the formatting of that and try again.</div>
                 <small class="form-text text-muted">Example help text that remains unchanged.</small> -->
              </div>
              <div class="form-group">
                 <label class="form-control-label" for="inputDanger1">Addresse Boutique</label>
                 <input type="text" class="form-control form-control-danger" name="addresseBoutique" id="addresse">
                 <!-- <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
                 <small class="form-text text-muted">Example help text that remains unchanged.</small> -->
              </div>
              <div class="form-group">
                <label class="form-control-label" for="inputDanger1">Site Web</label>
                <input type="text" class="form-control form-control-danger" name="siteWeb" id="site">
                <!-- <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
                <small class="form-text text-muted">Example help text that remains unchanged.</small> -->
             </div>
             <div class="form-group">
                <label class="form-control-label" for="inputDanger1">Date Creation</label>
                <input type="date" class="form-control form-control-danger" name="dateCreation" id="dateC">
                <!-- <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
                <small class="form-text text-muted">Example help text that remains unchanged.</small> -->
             </div>
             <div class="form-group">
                <label class="form-control-label" for="inputDanger1">ID Localisation</label>
                <input type="text" class="form-control form-control-danger" name="idLocalisation" id="idLoc">
                <!-- <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
                <small class="form-text text-muted">Example help text that remains unchanged.</small> -->
             </div>
             <div class="form-group">
                <label class="form-control-label" for="inputDanger1">ID Client Abonné</label>
                <input type="text" class="form-control form-control-danger" name="idClientAbonne" id="idClient">
                <!-- <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
                <small class="form-text text-muted">Example help text that remains unchanged.</small> -->
             </div>
             <div class="form-group">
                <label class="form-control-label" for="inputDanger1">ID Ville</label>
                <input type="text" class="form-control form-control-danger" name="idVille" id="idV">
                <!-- <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
                <small class="form-text text-muted">Example help text that remains unchanged.</small> -->
             </div>
              <div class="form-group">
                <div class="card-block button-list">
                    <!-- start with icon Button -->
                    <button type="submit" class="btn btn-danger waves-effect waves-light " data-toggle="tooltip" data-placement="top" title=".icofont-home ">
                             <i class="icofont icofont-ui-add "></i><span class="m-l-10">AJOUTER NOUVEAU</span>
                    </button>
                 </div>
                </div>
              </div>
           </div>
        </div>
     </div>
    </form>